nav {
    position: fixed;
    top: 10px;
    left: 50%;
    min-width: 550px;
    transform: translateX(-50%);
    color: white;
    z-index: 1000;
    padding: 1rem 1rem;
    background-color: var(--background-color);
    border-radius: 15px;
    color: white;
    border: 0px solid var(--secundary);
    text-align: center;

}
@media (max-width: 550px) { /* O el breakpoint que necesites */
    nav{ width: 95%;
        min-width: 0px;
        padding:0px;
        padding: 0.5rem 0;
    }
    nav a  {
        font-size: 13px; /* Escala según el ancho de la pantalla */
        margin: 0 0.3rem;
;

    }
}

nav.scrolled {
    background-color: var(--background-color-opacity-60);
    backdrop-filter: blur(10px);
    border: 1px solid var(--secundary);
}

a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: var(--principal);
}