.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-left: 0;
    display: block;
    

}

.hero h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    text-wrap: balance;
    padding-bottom: 0;}

a {
    text-decoration: none;
    color: var(--primary-50);
}

