

:root {
  --background-color: #121212;
  --background-secundary: #282828;
  --principal:#fdd140;
  --secundary:#ffe28d;
  --principal-50: #ffe8a4;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Onest Variable', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  padding-inline: 1rem;
}
html{
  scroll-behavior: smooth;
}
button{
  background-color: var(--background-color);
  border: 1px solid var(--principal-50);
  color: var(--principal-50);
  border-radius: 10px;
  padding: 5px;
}
button:hover{
  background-color: var(--principal-50);
  cursor: pointer;
}
button:hover a{
  background-color: var(--principal-50);
  color: var(--background-color);
}

a {
  font-weight: 500;
  color: var(--principal);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
h2{
  font-size: 1.8em;
  line-height: 1.1;
  color: var(--principal);
}
.important{
  color: var(--principal);
}

